**/*.jar
**/*.class
**/*.annot
**/*.cmo
**/*.cma
**/*.cmi
**/*.a
**/*.o
**/*.cmx
**/*.cmxs
**/*.cmxa
**/_build/
**/*.byte
**/*.native
**/setup.data
**/setup.log
**/.merlin
**/*.install
**/_opam/
**/target/
projects/phoron/phoron_rs/phoron_asm/doc/grammar/phoron.c
projects/phoron/phoron_rs/phoron_asm/doc/grammar/phoron
